* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  background-color: rgb(68, 207, 142);
  border: 2px solid rgb(19, 83, 46);
  max-width: 600px;
  padding: 20px;
  margin-top: 20px;
}

.title {
  color: white;
  margin-bottom: 10px;
  font-size: 36px;
}

.black {
  color: black;
}

.subTitle {
  color: white;
  opacity: 0.5;
  margin-bottom: 20px;
  font-size: 24px;
}

#paragraph {
  color: white;
  line-height: 160%;
}

#footnote {
  opacity: 0.5;
  font-size: 14px;
  margin-top: 20px;
}
